<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name="A_package.Listeners"/>
</listeners>

	<test thread-count="5" name="main testing">
		<classes>
			<class name="A_package.HomePage" />
		</classes>
	</test>

	<test thread-count="5" name="validation of test">
		<classes>
			<class name="A_package.validateTitle" />
		</classes>
	</test>
	
		<test thread-count="5" name="navigation bar">
		<classes>
			<class name="A_package.navigationBar" />
		</classes>
	</test>

	<test thread-count="5" name="Listener test">
		<classes>
			<class name="A_package.Listeners" />
		</classes>
	</test> <!-- Test -->
	
		<test thread-count="5" name="extent report test">
		<classes>
			<class name="A_package.ExtentReport" />
		</classes>
	</test>
	
	
</suite> <!-- Suite -->